

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: Calibri,sans-serif;
  background-color: #ecf2f7;
}

h1 {
  text-align: center;
  margin: 2rem auto;
}

h2{
  text-align: center;
  margin-top: 2rem;
}

p{
  text-align: center;
}

.draggable-elements{
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.draggable{
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
 font-size: 4rem;
  margin: 0 0.5rem;
  cursor: move;
  transition: opacity 0.2s;

}

.draggable:hover{
  opacity: 0.5;
}
.droppable-elements{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.droppable{
  height: 6.5rem;
  width: 6.5rem;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 4rem;
  border: 1px solid black;
  background-color: #fff;
  color: black;

}

/*.droppable:hover{*/
/*background-color: aliceblue;*/
/*}*/

.droppable span{
  font-size: 1.2rem;
  pointer-events: none;
}

.droppable.droppable-hover{
  border-width: 2px;
  border-color: white;
  transform: scale(1.1);
}

.droppable.dropped{
  border-style: dashed;
  color: #fff;
}
.droppable.dropped span{
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

.droppable.dropped i{
  pointer-events: none;
}
.draggable.dragged{
  user-select: none;
  opacity: 0.1;
  cursor: default;
}

.draggable.dragged{
  opacity: 0.1;
}

@media (max-width: 600px) {
  html{
    font-size: 14px;
  }
  .draggable-elements{
    margin: 1.5rem;
  }
}




